@charset "UTF-8";

@font-face {
     font-family: OpenSans;
     src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
     font-family: Fredoka;
     src: url('../fonts/Fredoka_One/FredokaOne-Regular.ttf');
}

body {
    background-color: #8c6cab;
    font-family: 'OpenSans';
}

.logo {
    margin-right: 2rem;
}
#logo {
    width: 130%;
}

.fundo {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
}

.dashboard
{
    margin: 2rem auto;
}

.carta {
    margin-bottom: 2rem;
}
